root: true

parser: babel-eslint

extends: [standard, standard-react, prettier, prettier/react]
plugins: [babel, react, prettier]

env:
  browser: true
  es6: true
  node: true
  mocha: true

ecmaFeatures:
  jsx: true
  modules: true

globals:
  sinon: true
  expect: true
  should: true
  functionsTest: true
  nightmare: true

rules:
  semi: [2, 'never']
  no-console: 0
  jsx-quotes: ['error', 'prefer-double']
  no-return-await: 2
  prettier/prettier: ['error', {
    singleQuote: true,
    trailingComma: 'none',
    semi: false,
    bracketSpacing: true,
    jsxBracketSameLine: true,
    printWidth: 80,
    tabWidth: 2,
    useTabs: false
  }]
